.order-detail {
  text-align: left;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  padding: 25px 0;
  align-items: center;
  justify-content: flex-start;
}

.MuiButtonBase-root.MuiButton-root.css-c7m806-MuiButtonBase-root-MuiButton-root.btn-continue:hover {
  color: #cc8b2b;
  background-color: #202020;
}

.btn-continue-cart {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-img {
  display: flex;
  width: 20%;
  height: 100%;
}

.empty-cart {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-fz0hsy-MuiButtonBase-root-MuiButton-root.button-delete-cart:hover {
  background-color: #202020;
  color: #cc8b2b;
  border-radius: 1.625rem;
  font-size: inherit;
  font-weight: 700;
}
