.MuiBox-root.css-pil7kl {
  width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  border-radius: 5px;
}

.MuiStepper-root.MuiStepper-horizontal {
  margin-top: 5px;
}

.img-empty-cart {
  width: 270px;
  padding: 25px;
  margin: 10px;
}

.empty-cart {
  margin: auto;
}
