.img-shop-login {
  width: 380px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: -270px;
  padding: 20px;
  padding-right: 0;
}

.container-shop {
  height: 100%;
  width: 30%;
}

.container-shop-img {
  position: relative;
}

#username-label,
#password-label {
  font-size: small;
  font-weight: 400;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-sizeSmall.MuiInputBase-fullWidth.MuiInputBase-formControl.css-z416xi-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 30px;
}

#username,
#password {
  border-radius: 30px;
}

.MuiButtonBase-root.MuiButton-root.button-login {
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: "#202020";
  height: 3rem;
  width: 12rem;
  font-size: inherit;
  border-radius: 1.625rem;
  font-weight: 700;
}

.MuiButtonBase-root.MuiButton-root.button-login:hover {
  background-color: #202020;
  color: #cc8b2b;
  border-radius: 1.625rem;
  font-size: inherit;
  font-weight: 700;
}
