.link-wishlist {
  text-decoration: none;
  color: inherit;
}

/* .MuiAvatar-root.MuiAvatar-circular {
  background-color: slateblue;
} */

.link-profile {
  text-decoration: none;
  color: inherit;
}
