.link-wishlist {
  text-decoration: none;
  color: inherit;
}

#account:hover {
  background-color: transparent;
}

.link-profile {
  text-decoration: none;
  color: inherit;
}

.label-account {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.userinfo {
  height: 100%;
  width: 100%;
}
