.img-empty-wishlist {
  width: 340px;
}

.empty-wishlist {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wishlist-items {
  display: flex;
  flex-direction: row;
}
