/* .MuiBox-root.css-0 {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: center;
  flex-wrap: wrap;
} */

.img-empty-wishlist {
  width: 340px;
}

.empty-wishlist {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .MuiPaper-root.card-wishlist {
  padding: 10px;
} */
