.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-404 {
  width: 400px;
}
/* text 404 */
.MuiTypography-root.css-ahj2mt-MuiTypography-root {
  font-size: x-large;
  color: darkslateblue;
}
