.profile-options {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.user-password {
  margin-top: 25px;
  display: flex;
}

.password {
  width: 245px;
}

/* input label */
.MuiFormLabel-root.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  top: -5px;
  height: 100%;
}

/* input  */
.MuiInputBase-root.MuiOutlinedInput-root.css-hjtp1-MuiInputBase-root-MuiOutlinedInput-root {
  margin-right: 10px;
}

.location {
  width: 100%;
}

/* btn edit */

.btn-update.css-sghohy-MuiButtonBase-root-MuiButton-root {
  width: 20%;
  border-radius: 50px;
  font-weight: bold;
  font-size: small;
}

.location-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-submit {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
