.link-products {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 100%;
}

.MuiCardContent-root.content:last-child {
  padding-bottom: 10px;
}

/* .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.card {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  margin-bottom: 40px;
} */

/* .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  justify-content: center;
} */

/* .MuiButtonBase-root.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  font-size: medium;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
} */

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
