/* .MuiToolbar-root.MuiToolbar-gutters.css-p57pv6-MuiToolbar-root {
  display: flex;
  z-index: 5200;
} */

.MuiPaper-root.navbar {
  z-index: 1205;
}

.MuiBadge-badge.MuiBadge-standard {
  top: 8px;
  right: 5px;
}

.categories {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.icon {
  color: cornflowerblue;
}
