.MuiPaper-root.navbar {
  z-index: 1;
}

.MuiBadge-badge.MuiBadge-standard {
  top: 8px;
  right: 5px;
}

.categories {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.icon {
  color: cornflowerblue;
}
/* login btn */
.MuiButtonBase-root.btn-login.MuiButton-root.css-1q39md6-MuiButtonBase-root-MuiButton-root {
  padding: 6px;
  width: 100%;
}
