/* login btn */
.MuiButtonBase-root.btn-login:before {
  content: "";
  position: absolute;
  width: 0;
  background: #cc8b2b;
  left: 45%;
  height: 2px;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.7;
}

.MuiButtonBase-root.btn-login:hover:before {
  width: 100%;
  left: 0;
}

.MuiButtonBase-root.btn-login:hover {
  background-color: transparent;
  border-radius: 0;
}

.MuiButtonBase-root.cart-btn:hover {
  background-color: transparent;
}

/* Add order badge */
.MuiBadge-badge.MuiBadge-standard {
  top: 15px;
  right: 10px;
  background-color: #cc8b2b;
  color: #202020;
}

.container-main-logo {
  display: flex;
  height: 100%;
  justify-content: flex-start;
}

.logo {
  width: 100px;
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 20px;
}

/* .icon {
  color: cornflowerblue;
} */

/* back to top */
.css-mgur8 {
  z-index: 2;
}
