.name-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container-shipping-time {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container-delivery-address {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.btn-edit-address {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-shipping-time-payment {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.icon-title {
  margin-left: 5px;
}

.MuiStepLabel-label.Mui-active.css-16wf7cf-MuiStepLabel-label {
  font-weight: bold;
  font-size: large;
  color: #202020;
}

.MuiStepLabel-label.Mui-completed.css-16wf7cf-MuiStepLabel-label {
  font-weight: bold;
  font-size: large;
  color: #202020;
}

.MuiSvgIcon-root.Mui-active.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  fill: currentColor;
  font-size: 2.5rem;
  /* color: #cc8b2b; */
  color: #202020;
}

.MuiSvgIcon-root.Mui-completed.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  fill: currentColor;
  font-size: 2.5rem;
  color: #cc8b2b;
}

.MuiSvgIcon-root.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  fill: currentColor;
  font-size: 2.5rem;
}

.MuiButtonBase-root.MuiButton-root.btn-address:hover {
  color: #cc8b2b;
  background-color: #202020;
}

.MuiButtonBase-root.MuiButton-root.btn-payment:hover {
  color: #cc8b2b;
  background-color: #202020;
}
