.name-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container-stepper {
  padding: 1rem 0;
  background: url(../../../assets/img/Simple\ Shiny.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -7rem;
}

.container-shipping-time {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container-time-frame {
  width: 100%;
}

.container-delivery-address {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.btn-edit-address {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-shipping-time-payment {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.icon-title {
  margin-left: 5px;
}

.MuiStepLabel-label.Mui-active.step-label {
  font-weight: bold;
  font-size: large;
  color: #202020;
}

.MuiStepLabel-label.Mui-completed.step-label {
  font-weight: bold;
  font-size: large;
  color: #202020;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.Mui-active {
  fill: currentColor;
  font-size: 2.5rem;
  /* color: #cc8b2b; */
  color: #202020;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.Mui-completed {
  fill: currentColor;
  font-size: 2.5rem;
  color: #cc8b2b;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root {
  fill: currentColor;
  font-size: 2.5rem;
}

/* .MuiButtonBase-root.MuiButton-root.btn-address:hover {
  color: #cc8b2b;
  background-color: #202020;
}

.MuiButtonBase-root.MuiButton-root.btn-payment:hover {
  color: #cc8b2b;
  background-color: #202020;
} */

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.tab-time {
  color: #cc8b2b;
  font-weight: bold;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.tab-time {
  color: #202020;
  font-weight: bold;
}

.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
  background-color: #202020;
}

.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.Mui-checked.MuiRadio-root.MuiRadio-colorPrimary.radio-btn {
  color: #cc8b2b;
}

.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-1l7cgwj-MuiTypography-root {
  color: #202020;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-sizeMedium.MuiButton-colorInherit.Mui-disabled.back-btn-stepper {
  color: #808080;
}
