/* card */
/* .MuiPaper-root.MuiPaper-rounded.css-1y5u69t-MuiPaper-root-MuiCard-root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
} */

.MuiButtonBase-root.MuiButton-root.btn-add:hover {
  color: #cc8b2b;
  background-color: #202020;
}

.container-single-product {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-top: 30px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.datail-img {
  display: flex;
  justify-content: center;
  width: 40%;
}

.detail-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 15px;
  margin-left: 30px;
}

.description {
  margin: 20px 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: justify;
  text-transform: capitalize;
}

.rating-container {
  margin: 5px 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* wishlist */
.btn-wishlist {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

/* Price */
/* .MuiTypography-root.MuiTypography-h2.MuiTypography-gutterBottom {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
} */

/* Add and Remove */
#reduce {
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  padding: 0;
}

#reduce:hover {
  /* width: 30px; */
  /* height: 30px;
  min-height: 30px; */
  /* min-width: 30px; */
  border: 3px solid slateblue;
  border-radius: 50%;
  color: darkslateblue;
  padding: 0;
}

#increase {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid;
  border-radius: 50%;
  padding: 0;
}

#increase:hover {
  color: darkslateblue;
  border: 3px solid slateblue;
  border-radius: 50%;
  padding: 0;
  /* width: 30px; */
  /* height: 30px;
  min-height: 30px; */
  /* min-width: 30px; */
}

/* .btn-product {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-right: 10px;
} */

/* .btn-add-remove {
  font-size: small;
} */

/* .btn-add.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: slateblue;
  font-weight: 900;
  text-align: center;
  font-size: x-small;
  width: 100px;
  height: 40px;
  overflow: hidden;
} */

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

/* .MuiTypography-root.rate-text {
  margin-left: 10px;
} */

/* .MuiTypography-root.count {
  margin-left: 5px;
} */

.MuiTypography-root.rate {
  font-weight: 900;
  font-size: small;
  margin-bottom: 0;
}

.detail-product {
  display: flex;
  align-items: flex-start;
}
