/* .css-1ji7omv-MuiBackdrop-root {
  top: 80px;
} */

#root {
  margin-top: auto;
  /* height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column; */
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  /* min-height: 100%;
  position: relative; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* btn transform */
.MuiButtonBase-root.MuiButton-root {
  text-transform: capitalize;
}

.main-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}

.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  align-items: inherit;
  justify-content: center;
}

.MuiTypography-root.MuiTypography-h1 {
  font-size: 110px;
  font-weight: 900;
  color: royalblue;
}

.MuiCardContent-root.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.MuiCardActions-root.MuiCardActions-spacing {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.MuiCardMedia-root.MuiCardMedia-media {
  margin: 0 auto;
}

/* Loading */
.MuiBackdrop-root.css-1ji7omv-MuiBackdrop-root {
  z-index: 0;
}
