.main-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}

.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.MuiTypography-root.MuiTypography-h1 {
  font-size: 110px;
  font-weight: 900;
  color: royalblue;
}
