@font-face {
  font-family: Fonarto;
  src: url(./assets/fonts/FonartoLight-BWxv3.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(./assets/fonts/Raleway-VariableFont_wght.ttf);
}

body {
  font-family: Fonarto;
}
