.container-payment {
  width: 100%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-order-summary {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  margin-top: 3rem;
}

.payment-method {
  width: 50%;
}

.radio-payment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.radio-btn {
  margin: 10px 5px;
  display: flex;
  justify-content: flex-start;
}

.container-detail-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.MuiButtonBase-root.MuiButton-root.btn-gateway:hover {
  color: #cc8b2b;
  background-color: #202020;
}

.line {
  margin: 0 5px;
}

.img-payment {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 5px;
}

.container-option-payment {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-shipping-time-payment {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  width: 100%;
}

.text-order-detail {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
